- cache "home-program" do
  %section#program.home-section
    .container
      .row
        .col-md-12
          %h2 Programme
      .row
        .col-md-8
          %p
            The biology14 conference starts on Thursday morning (13 February) with registration and reception. Talks and poster presentations are scheduled from Thursday morning until Friday afternoon, with a conference dinner (“Darwin Dinner”) on Thursday evening.
          %p
            The Darwin Dinner in honor of Charles Darwin will take place in the main hall of the Sciences II building. We will enjoy the fine cuisine of our Chef Christian Christensen and listen to the music of the Bazar Band. An invited international speaker will enrich this evening with an entertaining talk and there will also be ample opportunity for discussions with our invited keynote speakers.
          %p
            The night then continues in downtown Geneva.
          = form_tag "http://unige.us3.list-manage.com/subscribe/post?u=b9cb9b44ec0b4d2d1f806d3e3&amp;id=#{ENV["MAILCHIMP_LIST_ID"]}", method: "post", class: "form form-inline" do
            %fieldset
              %legend Mailing list
            .form-group
              %p
                Register to our mailing list to get the latest news and program announcements.
              = email_field_tag "EMAIL", nil, placeholder: "Email address", class: "form-control inline"
              = submit_tag "Subscribe", class: "btn btn-primary btn-sm"
      .row
        - events.each do |date, events|
          .col-md-6
            %table.table
              %thead
                %tr
                  %td{colspan: 2}
                    %h3
                      = date.to_s(:day_month_year)
              %tbody
                - for event in events
                  %tr{class: event.table_classes}
                    %th
                      = event.start.to_s(:time_only)
                      –
                      = event.end.to_s(:time_only)
                    %td
                      = event.title
      .row
        .col-md-12
          = link_to "/pdf_program", class: "btn btn-default btn-lg pull-right" do
            %span.glyphicon.glyphicon-download
            Download the program as PDF
