- @title = "biology14 - the Swiss conference on organismal biology"; title(@title)
= render 'home/jumbotron'
= render 'home/program', events: @grouped_events
= render 'home/speakers', speakers: @speakers
= render "home/venue"
= render 'home/registration', registration: @registration
= render "home/pace14"
