- @title = "biology14 - the Swiss conference on organismal biology"; title(@title)
#home
  - cache "home-header" do
    %section#home-banner.jumbotron.home-section
      .container
        .row
          .home-banner-header.col-md-6.col-sm-8
            .row
              .col-md-12
                %h3
                  13th & 14th February 2014, Geneva, Switzerland
            .row
              .col-md-12
                %h1.biology14
                  biology
                  %span 14
                %h2
                  the Swiss conference on organismal biology
                %p.lead
                  The "biology" conference is the yearly joint congress of the Swiss Zoological Society, the Swiss Botanical Society, and the Swiss Systematics Society
          .home-banner-carousel.carousel.slide.col-md-6.col-sm-4
            .carousel-inner
              #carousel-item-1.item.active
                = image_tag "carousel/full_tree.png"
              #carousel-item-2.item
                = image_tag "carousel/algae.png"
              #carousel-item-3.item
                = image_tag "carousel/monkey.png"
              #carousel-item-4.item
                = image_tag "carousel/foram.png"
              #carousel-item-5.item
                = image_tag "carousel/truc.png"
              #carousel-item-6.item
                = image_tag "carousel/cell.png"
        .row
          .col-lg-6.col-md-12
            = link_to "#registration", class: "btn btn-primary btn-lg pull-right home-banner-registration-link", data: {target: '#registration'} do
              %span.glyphicon.glyphicon-check
              Register
        .row.home-banner-welcome
          .col-md-6
            %p
              %small
                One expected output of the meeting is to demonstrate the enthusiasm of researchers in Switzerland and neighboring countries for research activities in fields as divers as evolutionary biology, systematics, biodiversity, ecology, evo-devo, and many more…
            %p
              %small
                The conference provides opportunity for young scientists from Swiss Universities and Research Institutions to present their work in organismal biology.
          .col-md-6
            %p
              %small
                However, people from foreign universities or laymen are welcome to attend the conference too! A wide variety of different topics related to organismal biology will be covered, and there will be talks by invited speakers.
            %p
              %small
                We are looking forward to welcoming you in Geneva,
            %p
              %small
                %em The organizing committee
  = render 'home/program', events: @grouped_events
  = render 'home/speakers', speakers: @speakers
  = render 'home/registration', registration: @registration
  = render "home/venue"
  = render "home/pace14"
