- @title = "biology14 - the Swiss conference on organismal biology"; title(@title)
#home
  - cache "home-header" do
    %section#home-banner.jumbotron.home-section
      .container
        .row
          .home-banner-header.col-md-6
            .row
              .col-md-12
                %h3
                  13th & 14th February 2014, Geneva, Switzerland
            .row
              .col-md-12
                %h1.biology14
                  biology
                  %span 14
                %h2
                  the Swiss conference on organismal biology
                %p.lead
                  The "biology" conference is the yearly joint congress of the Swiss Zoological Society, the Swiss Botanical Society, and the Swiss Systematics Society
                = link_to "#registration", class: "btn btn-primary btn-lg pull-right home-banner-registration-link", data: {target: '#registration'} do
                  %span.glyphicon.glyphicon-check
                  Register
          .home-banner-carousel.carousel.slide.col-md-6
            .carousel-inner
              #carousel-item-1.item.active
                = image_tag "carousel/full_tree.png"
              #carousel-item-2.item
                = image_tag "carousel/algae.png"
              #carousel-item-4.item
                = image_tag "carousel/monkey.png"
              #carousel-item-4.item
                = image_tag "carousel/foram.png"
              #carousel-item-5.item
                = image_tag "carousel/truc.png"
              #carousel-item-5.item
                = image_tag "carousel/cell.png"
        .row.home-banner-welcome
          .col-md-6
            %p
              %small
                One expected output of the meeting is to demonstrate the enthusiasm of researchers in Switzerland and neighboring countries for research activities in fields as divers as evolutionary biology, systematics, biodiversity, ecology, evo-devo, and many more…
            %p
              %small
                The conference provides opportunity for young scientists from Swiss Universities and Research Institutions to present their work in organismal biology.
          .col-md-6
            %p
              %small
                However, people from foreign universities or laymen are welcome to attend the conference too! A wide variety of different topics related to organismal biology will be covered, and there will be talks by invited speakers.
            %p
              %small
                We are looking forward to welcoming you in Geneva,
            %p
              %small
                %em The organizing committee




  - cache "home-program" do
    %section#program.home-section
      .container
        .row
          .col-md-12
            %h2 Program
        .row
          .col-md-6
            %p.lead
              The biology14 conference starts Thursday morning (13 February) with registration and reception. Talks and poster presentations are scheduled from Thursday morning until Friday afternoon, with the conference dinner (“Darwin Dinner”) taking place on Thursday evening.
            %p.lead
              The Darwin Dinner will take place in a nearby restaurant in honor of Charles Darwin. An invited international speaker will enrich this evening with an entertaining talk and there will be ample opportunity for discussions, also with our invited keynote speakers.
            %p.lead
              The night then continues in downtown Geneva.
        .row
          = render 'events/program', events: @grouped_events
        .row
          .col-md-12
            = link_to "/pdf_program", class: "btn btn-default btn-lg pull-right" do
              %span.glyphicon.glyphicon-download
              Download the program as PDF
  = render 'home/speakers', speakers: @speakers
  = render 'registration', registration: @registration
  = render "venue"
  - cache "home-pace14" do
    %section#pace14.home-section
      .container
        .row
          .col-md-6.content
            %h2 Pace14
            %p.lead
              Swiss conservation biologists and restoration ecologists are pleased to invite you to the fourth edition of PACE, the yearly Swiss symposium on Plant and Animal Conservation Ecology, that will take place on Wednesday 12 February 2014, i.e. just before biology14. The major topic of this year meeting is “…………………………”. This one day symposium offers young scientists from Swiss universities and high technical schools the opportunity to present work in applied organismal ecology that bears specific relevance for biodiversity conservation.
            %p.lead
              Further information under this link: PACE14
            %p.lead
              Organizing committee: University of Geneva and the Swiss chapter of the Europe Section of the Society for Conservation Biology
