%head
  %meta{ :charset => "utf-8" }/
  %title= yield(:title) || "#{ controller.controller_name.titleize } - #{ controller.action_name.titleize }"

  %meta{ :name => "author", :content => "Yannis Jaquet" }/
  %meta{ :name => "description", :content => "" }/
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
  = favicon_link_tag '/assets/favicon.ico'

  -# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons

  = render "stylesheets"


  -# More ideas for your <head> here: h5bp.com/d/head-Tips

  -# All JavaScript at the bottom, except polyfills
  = javascript_include_tag "polyfills"

  = csrf_meta_tag
