%nav#application-navigation.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-ex1-collapse"}}
      .span.sr-only Toggle navigation
      .span.icon-bar
      .span.icon-bar
      .span.icon-bar
    = link_to "biology14", "#conference", class: "navbar-brand"
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Program", "#program", data: {target: '#program'}
      %li
        = link_to "Speakers", "#speakers", data: {target: '#speakers'}
      %li
        = link_to "Venue", "#venue", data: {target: '#venue'}
      %li
        = link_to "Registration", "#registration", data: {target: '#registration'}
      %li
        = link_to "Pace14", "#pace14", data: {target: '#pace14'}
      %li
        = link_to "Contact & more", "#footer", data: {target: '#footer'}

