!!! 5
- html_tag :class => 'no-js' do
  = render 'head'

  %body{class: "#{ controller.controller_name }"}
    #wrap
      = render 'chromeframe'
      = render 'navigation'
      = render 'flashes'
      = yield
    - cache "application-footer" do
      %footer#footer
        .container
          %p
            If you have any questions, do not hesitate to post them to biology14@unige.ch.
          %p
            Please spread the word about this conference to your colleagues!


    = render 'javascripts'
